<div [class]="setBoxClass()">
    <div class="user-image" style="background-image: url(../assets/media/images/people/pexels-photo-1222271.jpeg)"></div>
    <div class="text">
        <div class="markers">
            <!--<i class="fa fa-ellipsis-h"></i>-->
            <mat-icon class="pull-right">more_horiz</mat-icon>
        </div>
        <a href="#" class="user-name">Jhon Doe</a>
        <div class="comment">This is my mini comment.</div>

        <br>

        <app-reactions [containerClass]="'a-comment'"></app-reactions>

        <div *ngIf="isParent()" class="pull-right answer-actions">
            <a href="#">responder</a> -
            <a href="#">2 respostas</a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div *ngIf="isParent()" class="answers">
        <app-comment-view [type]="'children'" *ngFor="let answer of answers"></app-comment-view>
    </div>

</div>
