<div [class]="containerClass">
    <div class="likes comment">
        <div #optionsContainer class="options">
            <img (click)="react($event, 0)" class="react-smiley" src="../assets/media/images/smiley/006-happy.png">
            <img (click)="react($event, 1)" class="react-smiley" src="../assets/media/images/smiley/001-emoji.png">
            <img (click)="react($event, 2)" class="react-smiley" src="../assets/media/images/smiley/002-thinking.png">
            <img (click)="react($event, 3)" class="react-smiley" src="../assets/media/images/smiley/003-sad.png">
            <img (click)="react($event, 4)" class="react-smiley" src="../assets/media/images/smiley/004-angry.png">
            <img (click)="react($event, 5)" class="react-smiley" src="../assets/media/images/smiley/005-crying.png">
        </div>
        <div class="likes_qtty">{{ data.total }} {{ reactionsText() }}</div>
    </div>
</div>
