<div #screen id="chat">
    <div id="chat-settings">
        <div id="chat-window-title">
            <div id="image" style="background-image: url(/assets/media/images/3.jpeg)"></div>
            <span>Chat huge name with tree dots...</span>
        </div>
        <mat-icon #close>
            close
        </mat-icon>
        <mat-icon>
            menu
        </mat-icon>
    </div>
    <perfect-scrollbar #ps id="messages-box">
        <div id="pattern" style="background-image: url(/assets/media/images/chat.jpg)"></div>
        <div class="a-message">
            <div class="user" style="background-image: url(/assets/media/images/people/pexels-photo-736716.jpeg)"></div>
            <div class="message">
                <span><a href="#">@Petter Mc'ain</a></span>
                <span>Está é uma mensagem fixa de teste no chat que contem 2 linhas para visualização! :)</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div><br>mensagem...<br></div>
        <div class="a-message">
            <div class="user" style="background-image: url(/assets/media/images/people/pexels-photo-736716.jpeg)"></div>
            <div class="message">
                <span><a href="#">@Petter Mc'ain</a></span>
                <span>Está é uma mensagem fixa de teste no chat que contem 2 linhas para visualização! :)</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="a-message me">
            <div class="user" style="background-image: url(/assets/media/images/people/pexels-photo-762020.jpeg)"></div>
            <div class="message">
                <span><a href="#">@Kate M. Linch</a></span>
                <span>Uau! Essa é uma resposta do usuário logado, ela deve ter mais que 3 linhas para ver como realmente vai ficar na tela. Esse chat será feito com firebase ou websocket? Ou... os 2??</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </perfect-scrollbar>
    <div id="chat-message-box">
        <textarea placeholder="Escreva sua mensagem..."></textarea>
        <mat-icon>send</mat-icon>
    </div>
</div>
