
.collapse, .collapse.show {
    display: block !important;
    /*transition: all .25s ease-in-out;*/
    /*transition: all 1s;*/
}

.collapse {
    /*opacity: 0;*/
    height: 0px;
    color: #fff;
    overflow: hidden;
}

.collapse.show {
    /*opacity: 1;*/
    /*height: 100px;*/
    height: auto;
}

/*Feed item*/


article.feed-item.card {
    padding: 15px 0;
    margin-bottom: 15px;
}

.feed-img {
    width: 60px;
    height: 60px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    border-radius: 100px;
    float: left;
    margin-right: 15px;
}

.feed-info {
    float: left;
    line-height: 14px;
}
.feed-info .datetime {
    font-size: 12px;
}

.feed-item .feed-content{
    padding: 15px 0;
}

/*react SMILEY*/
.react-smiley{
    width: var(--smiley-size);
    transition: all 0.2s;
}

.react-smiley:hover{
    cursor: pointer;
    width: calc( var(--smiley-size) + 4px );
    margin-top: -18px !important;
    margin-left: -2px;
}

.likes .options {
    height: 32px;
    position: relative;
    width: calc( (var(--smiley-size) + 6px) * 6 );
    float: left;
}

.likes {
    float: left;
}

.likes_qtty {
    float: left;
    margin-top: 6px;
    font-size: 13px;
}

.likes img {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    opacity: 0.3;
}

.likes img.active{
    opacity: 1;
}

.likes img:nth-child(1){
    left: 0;
}

.likes img:nth-child(2){
    left: calc(var(--smiley-size) + 6px );
}

.likes img:nth-child(3){
    left: calc( (var(--smiley-size) + 6px) * 2  );
}

.likes img:nth-child(4){
    left: calc( (var(--smiley-size) + 6px) * 3  );
}

.likes img:nth-child(5){
    left: calc( (var(--smiley-size) + 6px) * 4  );
}

.likes img:nth-child(6){
    left: calc( (var(--smiley-size) + 6px) * 5  );
}

.comments_qtty {
    float: right;
    margin-top: 6px;
    font-size: 13px;
}

/*COMMENTS*/

.a-comment {
    margin-bottom: 15px;
}
.a-comment .answers-info{
    /*font-size: 13px;*/
    /*margin-bottom: 15px;*/
}

.a-comment .user-image {
    width: 40px;
    height: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    border-radius: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

.a-comment .markers {
    float: right;
}

.a-comment .text {
    float: left;
    padding: 15px;
    background: #f3f3f3;
    width: calc(100% - (40px + 15px));
    border-radius: 0 10px;
}

/*react SMILEY*/
.a-comment .react-smiley{
    width: var(--comment-smiley-size);
    transition: all 0.2s;
}

.a-comment .react-smiley:hover{
    cursor: pointer;
    width: calc( var(--comment-smiley-size) + 4px );
    /*margin-top: calc( (var(--comment-smiley-size) / 2) * -1 )!important; !**!*/
    margin-top: -14px !important;
    margin-left: -2px;
}

.a-comment .likes .options {
    height: 24px; /*EDIT THIS*/
    position: relative;
    width: calc( (var(--comment-smiley-size) + 3px) *6 );
    float: left;
}

.a-comment .likes {
    float: left;
}

.a-comment .likes_qtty {
    float: left;
    margin-top: 2px;
    font-size: 12px;
}

.a-comment .likes img {
    position: absolute;
    top: 50%;
    margin-top: calc( (var(--comment-smiley-size) / 2) * -1 );
    /*margin-top: calc( var(--comment-smiley-size) / 2 );*/
    opacity: 0.3;
}

.a-comment .likes img.active{
    opacity: 1;
}

.a-comment .likes img:nth-child(1){
    left: 0;
}

.a-comment .likes img:nth-child(2){
    left: calc(var(--comment-smiley-size) + 1px );
}

.a-comment .likes img:nth-child(3){
    left: calc( (var(--comment-smiley-size) + 1px) * 2  );
}

.a-comment .likes img:nth-child(4){
    left: calc( (var(--comment-smiley-size) + 1px) * 3  );
}

.a-comment .likes img:nth-child(5){
    left: calc( (var(--comment-smiley-size) + 1px) * 4  );
}

.a-comment .likes img:nth-child(6){
    left: calc( (var(--comment-smiley-size) + 1px) * 5  );
}

.answer-actions {
    font-size: 12px;
    margin-top: 2px;
}

/*COMMENT ASNWERS*/

.a-answer {
    padding-left: 55px;
    margin-top: 15px;
}

.a-answer .text{
    border-radius: 0;
}

.comment-form button {
    float: left;
}

.comment-type {
    width: calc(100% - 40px);
    border: none;
    background: #f3f3f3;
    padding: 10px 25px;
    border-radius: 10px;
    color: #717171;
    float: left;
    height: 40px;
    overflow: hidden;
    resize: none;
    font-size: 12px;
}

/*NEWPOST*/
#new-post {
    padding: 15px;
    margin-bottom: 15px;
}

.np-act {
    /*margin-right: 15px;*/
}

.np-act img{
    width: 25px;
}

#new-post textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}
