
.collapse, .collapse.show {
    display: block !important;
    /*transition: all .25s ease-in-out;*/
    /*transition: all 1s;*/
}

.collapse {
    /*opacity: 0;*/
    height: 0px;
    color: #fff;
    overflow: hidden;
}

.collapse.show {
    /*opacity: 1;*/
    /*height: 100px;*/
    height: auto;
}

mat-icon, header i.fas {
    color: #0000005e;
    font-size: 24px;
    /*margin-top: 15px;*/
}

header i.fas {
    font-size: 19px;
    margin-top: 2px;
}

header .menu-icon {
    float: left;
    padding: 18px;
    height: 60px;
}

header .menu-icon:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}

header .hamburger {
    padding: 20px;
}

header .profile {
    margin-left: 53px;
}

header .profile .photo {
    width: 50px;
    height: 50px;
    background-position: 50%;
    border-radius: 100px;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 5px;
    float: left;
    border: 3px solid #fff;
}

header .profile > span {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 15px;
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 18px;
}

.logo img {
    height: 50px;
    margin-top: 4px;
    margin-left: 25px;
}

div#rainbow{
    background: linear-gradient(270deg, #ff4270, #bdff59, #f200ff, #825bfd, #ff9400);
    background-size: 250% 250%;
    -webkit-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    height: 3px;
    position: fixed;
    top: 60px;
    z-index: 2;
    width: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    25%{background-position:0% 25%}
    50%{background-position:100% 50%}
    75%{background-position:100% 75%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    25%{background-position:0% 25%}
    50%{background-position:100% 50%}
    75%{background-position:100% 75%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    25%{background-position:0% 25%}
    50%{background-position:100% 50%}
    75%{background-position:100% 75%}
    100%{background-position:0% 50%}
}


/*MENU*/
#menu a:nth-child(1) {
    border-color: #ff70ed;
}

#menu a:nth-child(2) {
    border-color: #fdae44;
}

#menu a:nth-child(3) {
    border-color: #a5fd78;
}

#menu a:nth-child(4) {
    border-color: #b38dfd;
}

#menu a:nth-child(5) {
    border-color: #4efdbc;
}

#menu a:hover {
    border-left: 10px solid;
    color: #6dddfd;
}

#menu a > i {
    margin-right: 15px;
}
#menu a {
    display: block;
    color: #a2a2a2;
    padding: 5px;
    padding-left: 20px;
    border-left: 5px solid;
    transition: border-left 0.2s;
    text-decoration: none;
}

#menu .submenu {
    margin-left: 63px;
}

/*CHAT*/
div#chat {
    position: fixed;
    right: 0;
    top: var(--header-height);
    height: calc(100% - var( --header-height));
    background: #e0dbd1;
    width: 28%;
    z-index: 2;
}

div#chat-message-box {
    position: absolute;
    /* bottom: 15px; */
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    background: #dadacc;
}

#chat textarea {
    width: 85%;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    height: 41px;
    resize: none;
    color: #969696;
    float: left;
    margin-left: 15px;
}

#chat mat-icon {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}

perfect-scrollbar#messages-box {
    background: #e2e2d7;
    height: 100%;
    position: relative;
    padding: 0 20px;
    padding-bottom: 125px;
}

div#pattern {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 100%;
    opacity: 0.1;
    position: absolute;
}

div#chat-settings {
    background: #2a2b2d;
    height: 55px;
}

div#chat-settings mat-icon {
    margin-top: 13px !important;
    color: #a39a97;
    cursor: pointer;
}

div#chat-window-title span {
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    float: left;
}

div#chat-window-title #image {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #3d3e40;
    margin-top: 6px;
    margin-left: 20px;
}
div#chat-window-title {
    float: left;
}

@media screen and (max-width: 1440px) {
    div#chat {
        max-width: 360px;
    }
}


