<div #main id="main" class="menu-showing">
    <header>
        <div class="pull-left">
            <button #$this (click)="menuAction($this)" class="hamburger hamburger--collapse is-active" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
        </div>
        <div class="logo pull-left">
            <img src="/assets/media/images/fast-banana.png">
        </div>
        <div class="profile pull-left">
            <div class="photo" style="background-image: url(/assets/media/images/people/pexels-photo-736716.jpeg)"></div>
            <span>Felipe Barreiros | <mat-progress-bar value="40"></mat-progress-bar></span>
        </div>
        <div class="pull-right">
            <div class="menu-icon" matTooltip="Testes Relâmpago">
                <mat-icon>whatshot</mat-icon>
            </div>
            <div class="menu-icon" matTooltip="Notificações">
                <mat-icon>notifications</mat-icon>
                <div class="radar-notify">
                    <div class="radar-container">
                        <span class="icon icon-6"></span>
                        <span class="ring ring-6"></span>
                    </div>
                </div>
            </div>
            <div class="menu-icon" matTooltip="Chats">
                <mat-icon>chat</mat-icon>
                <div class="radar-notify">
                    <div class="radar-container">
                        <span class="icon icon-6"></span>
                        <span class="ring ring-6"></span>
                    </div>
                </div>
            </div>
            <div class="menu-icon" matTooltip="Administração">
                <mat-icon>apps</mat-icon>
            </div>
            <div class="menu-icon"
                 matTooltip="Sair">
                <i class="fas fa-power-off"></i>
            </div>
        </div>
    </header>
    <div id="rainbow"></div>

    <div #menu id="menu">
        <nav>

                <a href="/wiki">
                    <i class="fas fa-database"></i>
                    <span>Wiki</span>
                </a>


                <a href="/">
                    <i class="fas fa-quote-left"></i>
                    <span>Feed</span>
                </a>


                <a href="/courses">
                    <i class="fas fa-apple-alt"></i>
                    <span>Treinamentos</span>
                </a>


                <a href="/store">
                    <i class="fas fa-store"></i>
                    <span>Loja</span>
                </a>

                <a href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="true" aria-controls="collapse-group">
                    <i class="fas fa-group"></i>
                    <span>Grupos</span>
                </a>
                <div class="submenu">
                    <div id="collapse-group" [ngbCollapse]="isCollapsed">
                        <div><a href="/group">Natura</a></div>
                        <div><a href="/group">Bradesco</a></div>
                        <div><a href="/group">Itau</a></div>
                    </div>
                </div>
        </nav>
    </div>

    <div id="content">
        <router-outlet></router-outlet>


        <!--<hr>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-8">-->
                <!--<div class="col-center">-->
                    <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                        <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                    <!--</ngb-alert>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-8">-->
                <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-8">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-8">-->
                        <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                            <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                        <!--</ngb-alert>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4">-->
                        <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                            <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                        <!--</ngb-alert>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'success'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->

            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'warning'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->

            <!--<div class="col-lg-4">-->
                <!--<ngb-alert [type]="'danger'" [dismissible]="false">-->
                    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
                <!--</ngb-alert>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->
        <!--<div class="row"><div class="col-lg-4"><ngb-alert [type]="'success'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'warning'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div><div class="col-lg-4"><ngb-alert [type]="'danger'" [dismissible]="false"><strong>Warning!</strong> Better check yourself, you're not looking too good.</ngb-alert></div></div>-->

    </div>
    <div class="clearfix"></div>
</div>
