/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$hamburger-layer-width         : 20px !default;
$hamburger-layer-spacing       : 3px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-padding-y           : 18px !default;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";
/*@import "hamburgers";*/

:root {
    --header-height: 60px;
    --menu-transition: width 0.3s, padding-left 0.1s;
    --menu-width: 275px;
    --padding-default: 15px;

    --smiley-size: 24px;
    --comment-smiley-size: 16px;
}

body {
    background-color: #eaeaea;
    color: darkgray !important;
    font-size: 14px;
}

header {
    height: var(--header-height);
    position: fixed;
    width: 100%;
    background: #6dddfd;
    z-index: 2;
    top: 0;
}

.card.with-padding {
    padding: 15px;
}

.mat-tab-body-content {
    padding: 15px;
}

#menu {
    float: left;
    width: var(--menu-width);
    background: #2a2b2d;
    overflow: hidden;
    transition: var(--menu-transition);
    position: fixed;
    margin-top: var(--header-height);
    height: calc(100% - var(--header-height));
    top: 0;
}

#main.menu-hidden #menu {
    width: 0;
}

#content {
    float: left;
    width: 100%;
    padding: var(--padding-default);
    padding-left: calc( var(--menu-width) + var(--padding-default) );
    padding-top: calc( var(--header-height) + var(--padding-default) );
    transition: var(--menu-transition);
}

#main.menu-hidden #content {
    padding-left: var(--padding-default);
    width: 100%;
}

.col-center {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1920px) {
    .col-center {
        width: 700px;
    }
}

form, button, input, select, textarea {
    outline: none !important;
}

/*EMOJIS*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
