<div id="new-post" class="card">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <textarea placeholder="Algum texto aqui..."></textarea>
            </div>
            <div class="gallery-upload">
                <div class="item"></div>
            </div>
            <div>
                <mat-button-toggle-group>
                    <mat-button-toggle class="np-act" color="primary">
                        <img src="/assets/media/images/smiley/008-images.png">
                        Imagem
                    </mat-button-toggle>
                    <mat-button-toggle class="np-act" color="primary">
                        <img src="/assets/media/images/smiley/007-video-camera.png">
                        Vídeo
                    </mat-button-toggle>
                    <mat-button-toggle class="np-act" color="primary">
                        <img src="/assets/media/images/smiley/010-safe.png">
                        Configurações
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-icon-button color="primary" class="pull-right">
                    <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
