#new-post {
    padding: 15px;
    margin-bottom: 15px;
}

.np-act img{
    width: 25px;
}

#new-post textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}
